.typingControl {
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

.info {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 14px;
    line-height: 20px;
    vertical-align: middle;
}

.info span {
    font-weight: 700;
    cursor: pointer;
}

.modes {
    margin: 0 10px 0 0;
}

.mode {
    display: inline-block;
    text-decoration: none;
    margin-right: 2px;
    vertical-align: center;
}

.mode:last-of-type {
    margin: 0;
}

.icon {
    background: url('../../../../img/icons/icons.png') no-repeat 100% 100%;
    display: inline-block;
    height: 20px;
    position: relative;
    top: -0.5px;
    vertical-align: top;
}

.icon.keyboard {
    background-position: 0 0;
    width: 32px;
}

.icon.hands {
    background-position: -68px 0;
    width: 33px;
}

.icon.timeLimit {
    background-position: -204px 0;
    width: 20px;
}

.icon.waitingTime {
    background-position: -136px 0;
    width: 32px;
}

.mode.disabled .icon.keyboard {
    background-position: -34px 0;
    width: 32px;
}

.mode.disabled .icon.hands {
    background-position: -102px 0;
    width: 33px;
}

.mode.disabled .icon.waitingTime {
    background-position: -170px 0;
    width: 34px;
}

.mode span {
    user-select: none;
    color: #fff;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    line-height: 20px;
    vertical-align: top;
}